<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sri Lankan: Hotel Room Reservations</title>
</head>
<body>
<h1>
    Welcome to Room Reservations Pages
</h1>
    <table>
        <tr>
            <td>Room</td>
            <td>Room Number</td>
            <td>Guest</td>
        </tr>
        <tr th:each="roomReservation: ${roomReservations}">
            <td th:text="${roomReservation.roomName}">Room Name</td>
            <td th:text="${roomReservation.roomNumber}">Room Number</td>
            <td th:text="${roomReservation.lastName}!=null?${roomReservation.lastName}+', '+ ${roomReservation.firstName} : 'VACANT'">Full Name</td>
        </tr>
    </table>

</body>
</html>